.custom-link {
    display: inline-block;
    background-color: #8f99d6;
    font-size: 22px;
    font-family: "Exo 2", serif;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    padding: 15px 35px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
}
.custom-link:hover {
    background-color: #a4acd8;
}

.cards-section {
    padding-top: 150px;
    background-color: #dedee3   ;
}

.cards-section .cards-background {
    background-color: #cccccc;
}


.cards-section .card {
    border-radius: 25px;
    padding: 20px 10px;
}

